.bg-image {
  position: fixed;
  top: -50px;
  left: -15px;
  right: -15px;
  bottom: -50px;
  width: calc(100% + 30px);
  height: calc(100% + 100px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(5px);
  z-index: -1;
}